dental-clinic-workflow.json
{
  "name": "dental clinic copy",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=You are Lumina, the professional AI receptionist for Patel Dental Clinic. Your goal is to provide a seamless, premium booking experience.\n\nCLINIC DETAILS: • Hours: Monday - Friday, 9:00 AM to 5:00 PM EST. • Contact: 551-222-2025 | Email: \n\npatel@dental.com\n • Available Doctors: Dr. Avinash Patel, Dr. John Patel, Dr. Parth Patel, and Dr. Devisha Patel.\n\nCONVERSATION PHASES (CRITICAL INSTRUCTION): You must strictly follow this flow. Do not jump ahead.\n\nPHASE 1: GREETING & MENU (Start Here) When the user first says hello, warmly welcome them to Patel Dental Clinic. Tell them you can help with:\n\nBooking a new appointment\nChecking clinic hours/location\nInformation about our doctors Ask them how you can help today. DO NOT ask for any personal information yet!\nPHASE 2: APPOINTMENT INTAKE (Only start this if they select Option 1) If they want to book an appointment, begin collecting data. RULE: Ask ONLY ONE question at a time. Never give a list.\n\nAsk for their Name. Wait for reply.\nAsk if they are a New or Returning patient. Wait for reply.\nAsk for their 10-digit US phone number. Wait for reply.\nAsk for their Email. Wait for reply.\nAsk for the specific dental service they require.\nPHASE 3: SCHEDULING Once you have their info, ask if they have a preferred doctor. Ask what day/time works for them. You MUST ALWAYS use your Google Calendar tool to check availability before confirming a slot. Once agreed, explicitly use your Google Sheets tool to save their data and Timestamp, then say \"Your appointment is confirmed!\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -336,
        32
      ],
      "id": "069f6ce9-b0eb-4645-9a1a-f6c73a2b391b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        288
      ],
      "id": "157eb090-1d01-4c55-ad7e-fa7a29739508",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "18HG38gXEN1vatfZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -336,
        304
      ],
      "id": "bcbdf450-0c15-4de5-9b20-71079d402915",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1k7BkNUhM1BhJJf3-za6kOktihy3an0dvQIHVv-op_tU",
          "mode": "list",
          "cachedResultName": "dental clinic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k7BkNUhM1BhJJf3-za6kOktihy3an0dvQIHVv-op_tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k7BkNUhM1BhJJf3-za6kOktihy3an0dvQIHVv-op_tU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Phone Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number__using_to_match_', ``, 'string') }}",
            "Patient Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Service Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Service_Type', ``, 'string') }}",
            "Preferred Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Preferred_Time', ``, 'string') }}",
            "Preferred Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Preferred_Date', ``, 'string') }}"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Type",
              "displayName": "Service Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Date",
              "displayName": "Preferred Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Time",
              "displayName": "Preferred Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -176,
        272
      ],
      "id": "6f48dff9-246a-4c74-80f8-eef9f07640a3",
      "name": "Append or update row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AhgDiqhXW7q6daEM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "parth.aprilinnovations@gmail.com",
          "mode": "list",
          "cachedResultName": "parth.aprilinnovations@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        272
      ],
      "id": "3a73ec21-51bf-47f0-8481-4e0e7e66c910",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "G2q4dhZLsJfRDXXp",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dental-chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        32
      ],
      "id": "64c76a49-9382-46f6-942b-ae878294f247",
      "name": "Webhook",
      "webhookId": "42b6c4d0-ea2d-49a1-9f54-851fb60d64c4"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "80a0e63a-77d4-4a6c-be04-1a332dd7df96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93029added17bd6c50bf8460b3e8c8bf29a2a6515a384135e23c83f17a449c2b"
  },
  "id": "YoZi13d8q27EgUGp",
  "tags": []
}